doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title} | DemocracyOS Documentation
    link(rel='stylesheet', type='text/css', href='/' + fingerprint['assets/css/index.css'])
  body
    nav
      include ./partials/sidebar
    main
      != contents
