doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1', name='viewport')
    title #{title} | DemocracyOS Documentation
    link(rel='stylesheet', type='text/css', href='/' + fingerprint['assets/css/index.css'])
  body
    include ./partials/sidebar
    main
      .md
        != contents
    script(src='/assets/js/index.js')
