doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title} | DemocracyOS Documentation
    link(rel='stylesheet', type='text/css', href='/' + fingerprint['assets/css/index.css'])
  body
    header
      img.logo(src='/assets/img/logo.svg')
    nav
      include ./partials/sidebar
    main.md
      != contents
