---
layout: default
---

<main class="Content">
  <div class="Content-nav">
    <a href="/" class="Logo Logo--small">DemocracyOS</a>
    <nav class="Contents">
      <a href="https://github.com/DemocracyOS/app">View on Github</a>
      <a href="/guide/">Introduction</a>
      <a href="/guide/installation.html">Installation</a>
      <a href="/guide/examples.html">Examples</a>
      <a href="/guide/getting-started.html">Getting Started</a>
      <a href="/guide/interpolation.html">Interpolation</a>
      <a href="/guide/filters.html">Filters</a>
      <a href="/guide/directives.html">Directives</a>
      <a href="/guide/composing-views.html">Composing Views</a>
      <a href="/guide/plugins.html">Plugins</a>
    </nav>
  </div>
  <div class="Content-body">
    <div class="Content-copy Copy">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
</main>